In [1]:
import os
import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine

In [2]:
load_dotenv()

username, Password = os.getenv("USER"), os.getenv("PASSWORD")
conn_string = f'postgresql://{username}:{Password}@localhost/painting'
db = create_engine(conn_string)
conn = db.connect()

In [3]:
work_df = pd.read_sql_table('work', conn_string)
product_size_df = pd.read_sql_table('product_size', conn_string)
subject_df = pd.read_sql_table('subject', conn_string)
artist_df = pd.read_sql_table('artist', conn_string)
canvas_size_df = pd.read_sql_table('canvas_size', conn_string)
image_link_df = pd.read_sql_table('image_link', conn_string)
museum_hours_df = pd.read_sql_table('museum_hours', conn_string)
museum_df = pd.read_sql_table('museum', conn_string)

### 1.  Fetch all the paintings which are not displayed on any museums?

In [4]:
not_displayed_paintings =work_df[work_df['museum_id'].isnull()]
print(len(not_displayed_paintings))
not_displayed_paintings

10223

,work_id,name,artist_id,style,museum_id
6,125752,Arabian Horses at Pasture,757,Baroque,NaN
7,125818,Count Halm on His Basedow Estate,757,Baroque,NaN
9,125763,Napoleon Before the Burning City of Smolensk,757,Baroque,NaN
10,125774,Peasants Resting in the Field,757,Baroque,NaN
11,125785,Portrait Oberleutnant Theodor Von Klein,757,Baroque,NaN
...,...,...,...,...,...
14768,8273,Waiting for an Answer,794,American Art,NaN
14772,8283,"West Point, Prout's Neck",794,American Art,NaN
14773,8285,Winding Line,794,American Art,NaN
14774,184820,Untitled,620,Surrealism,NaN
14775,184829,Untitled,620,Surrealism,NaN

### 2.  Are there museums without any paintings?

In [5]:
museum_without_paintings = museum_df.merge(work_df, on='museum_id', how='left', indicator=True)
museum_without_paintings = museum_without_paintings[museum_without_paintings['_merge'] == 'left_only']
print(len(museum_without_paintings))
museum_without_paintings

0

Empty DataFrame
Columns: [museum_id, name_x, address, city, state, postal, country, phone, url, work_id, name_y, artist_id, style, _merge]
Index: []